body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header {
    
    height: 117px;
    background-color: #F8F4FC;

}



.conteiner_header {
    width: 80%;
    height: 117px;
    margin: 0 auto;
    display: flex;
    padding-top: 10px;

}


.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;


}

.pages img {
    width: 14px;
    height: 14px;
    padding-right: 5px;

}

.page1 a {
    color: #626262;
    text-decoration: none;
}

.page1 a:hover {
    text-decoration: underline;
}

.page2 a {
    text-decoration: none;
    color: #626262;
}

.page2 a:hover {
    text-decoration: underline;
}

.pages div {
    padding-right: 5px;
}


.left_header {
    width: 35%;
    font-size: 14px;
}


.header_logo {

width: 267px;
height: 58px;

}

.header_center {
    display: flex;
    font-weight: 700;
    width: 40%;
    color: #354657;
    font-size: 16px;
    
    
}

.header_center ul li {
    display: inline-block;
    padding-right: 20px;
    list-style:none;
    
}

.header_center ul {
    list-style:none;
    padding: 0;

}

.header_center ul li a {
    text-decoration: none;
    color: #354657;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    margin-top: 15px;
}

.header_right img {
    padding-right: 30px;

}

.border {
border-bottom: 1px solid #E2E2E2;
margin: 25px 0 40px 0;

}

.conteiner {
    width: 80%;
    margin: 0 auto;
}

.decor {
    font-size: 30px;
    font-weight: 700;
    color: #354657;
    margin-top: 70px;
}

.part1 {
display: flex;
width: 100%;

}

.come {
width: 40%;
height: 113px;
background-color: #F0F2F5;
margin-right: 30px;

}

.delivery {
width: 60%;
height: 113px;
background-color: #F0F2F5;
}

.come_register {
    display: flex;
    color: #354657;
    font-size: 16px;
    padding-left: 18px;
}
 
.title_block {

justify-content: center;
color: #354657;
font-weight: 700;
font-size: 20px;
padding-top: 25px;
padding-left: 20px;

}

.come_delivery {
display: flex;
color: #354657;
font-size: 16px;
padding-left: 18px;

}

.input_privat {
width: 344px;
height: 38px;
font-size: 14px;

}

.label_title {
color: #354657;
font-size: 14px;
font-weight: 400;

}

.privat {
    margin-top: 30px;
    width: 40%;
    height: 818px;
    background-color: #F0F2F5;
    

}